pin-depends: [
  [
    "compiler-libs-opttoplevel.0.1.0"
    "git+https://github.com/NathanReb/compiler-libs-opttoplevel.git#0.1.0"
  ]
  [
    "opttopfind.dev"
    "git+https://github.com/NathanReb/opttopfind.git"
  ]
  [
    "jit.dev"
    "git+https://github.com/NathanReb/ocaml-jit.git"
  ]
]
