build: [ "dune" "build" "-p" name "-j" jobs "@install" "@runtest" {with-test} ]
flags: [ plugin ]
pin-depends: [
  [
    "opam-0install"
    "git+https://github.com/NathanReb/opam-0install-solver#0e3d946084d6da0aa33f0a0c61e0cc780025054e"
  ]
]
